<div *ngIf="services.length > 0; else noServices" class="services-container">
	<div *ngFor="let service of services" class="service-card">
		<app-service-card
		[profilePicture]="service.imagePath || './default-avatar.png'"
		[user]="service.userName"
		[localisation]="service.location"
		[date]="service.creationDate"
		[title]="service.title"
		[categorie]="service.category"
		[propose]="service.description"
		[mail]="service.contactEmail"
		[phoneNumber]="service.contactPhone"
		(clicked)="handleClick()">
	  </app-service-card>
</div>
</div>
<ng-template #noServices>
	<p>Vous n'avez pas d'annonces pour le moment</p>
  </ng-template>
