<div class="popup-backdrop" *ngIf="isVisible" (click)="close()"></div>
<div class="popup" *ngIf="isVisible">
	<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
		<input type="text" id="username" name="username" ngModel required placeholder="Enter your username">

		<input
		type="email"
		id="email"
		name="email"
		ngModel
		required
		placeholder="Enter your email"
		#email="ngModel">
	  <div *ngIf="email.invalid && email.touched" class="error-message">
		<small *ngIf="email.errors?.['required']">Email is required.</small>
		<small *ngIf="email.errors?.['email']">Please enter a valid email address.</small>
	  </div>

		<input type="password" id="password" name="password" ngModel required placeholder="Enter your password"
		(ngModelChange)="onPasswordChange(loginForm.value.password, loginForm.value.confirmPassword)">

		<input type="password" id="confirmPassword" name="confirmPassword" ngModel required placeholder="Confirm your password"
		(ngModelChange)="onPasswordChange(loginForm.value.password, loginForm.value.confirmPassword)">

		<button type="submit" [disabled]="!loginForm.valid || !passwordsMatch">Login</button>
	  </form>
  <button (click)="close()">Close</button>
</div>
