<app-search-bar
    [serviceCount]="resultCount"
    [region]="region"
    [department]="department"
    [city]="city"
    [category]="category"
    (searched)="onSearch($event)" />

<div class="results" *ngIf="resultCount > 0; else noResults">
    @for (result of results.content; track result.id) {
        <div class="entry">
            <app-service-card
                [mail]="result.mail ? result.mail : 'Pas d\'adresse mail disponible'"
                [phoneNumber]="result.phoneNumber ? result.phoneNumber : 'Pas de numéro disponible'"
                [id]="result.id"
                [user]="result.createdBy"
                [profilePicture]="result.creatorProfilePicture ?? './quote.png'"
                [localisation]="result.city"
                [date]="result.creationDate"
                [categorie]="result.category"
                [propose]="result.description"
                [owner]="result.owner"/>
        </div>
    }
</div>

<ng-template #noResults>
    <p>Aucun résultat pour votre recherche</p>
</ng-template>
