<app-search-bar
    [serviceCount]="resultCount"
    [region]="region"
    [department]="department"
    [city]="city"
    [category]="category"
    [paginationData]="results && results.page.totalPages > 1 ? results.page : null"
    (onPageChange)="onPageChange($event)"
    (searched)="onSearch($event)" />

<div class="results" *ngIf="resultCount > 0; else noResults">
    @for (result of results.content; track result.id) {
        <app-service-card
            [mail]="result.mail ? result.mail : 'Pas d\'adresse mail disponible'"
            [phoneNumber]="result.phoneNumber ? result.phoneNumber : 'Pas de numéro disponible'"
            [id]="result.id"
            [user]="result.createdBy"
            [profilePicture]="result.creatorProfilePicture ?? './quote.png'"
            [localisation]="result.city"
            [date]="result.creationDate"
            [categorie]="result.category"
            [propose]="result.description"
            [owner]="result.owner"
            [isFavorite]="result.favorite"
            [title]="result.title"
            (deleted)="onServiceDeleted()"
            (onShowCoords)="onShowCoords($event)"/>
    }
</div>

<div class="bottom-pagination" *ngIf="results && results.page.totalPages > 1">
    <app-pagination
        [currentPage]="results.page.number"
        [totalPages]="results.page.totalPages"
        (onPageChange)="onPageChange($event)"/>
</div>

<ng-template #noResults>
    <p>Aucun résultat pour votre recherche</p>
</ng-template>

<!-- MODAL POPUP -->
<div class="modal-overlay" *ngIf="showCoordsModal && coords">
	<div class="modal">
		<h2>Coordonnées de {{ coords.user }}</h2>
		<button class="close-button" (click)="closeCoordsModal()">❌</button>

		<p><strong>Email:</strong> {{ coords.mail }}</p>
		<p><strong>Téléphone:</strong> {{ coords.phoneNumber }}</p>
	</div>
</div>
