.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  background: #f9f9f9;
  max-width: 600px; /* Limite de largeur pour éviter trop de texte */
  margin: auto;
  border-radius: 8px; /* Coin arrondi */
}

.chat-header {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #2E594F;
  color: white;
  border-radius: 8px 8px 0 0; /* Coins arrondis uniquement en haut */
}

.date-separator {
  text-align: center;
  margin: 20px 0;
  font-size: 1rem;
  color: #888;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.date-separator span {
  background-color: #f9f9f9;
  padding: 0 10px;
  border-radius: 10px;
}

.messages {
  flex: 1;
  overflow-y: auto; /* Permet la barre de défilement */
  margin-bottom: 10px;
  padding-right: 10px;
  max-height: 400px; /* Hauteur maximale de la zone des messages */
  display: flex;
  flex-direction: column; /* Permet d'afficher les messages les plus récents en bas */
}

.message {
  display: flex;
  margin: 10px 0;
  justify-content: flex-start;
}

.message.sent {
  justify-content: flex-end;
}

.message-bubble {
  width: 70%; /* Définit la largeur de la bulle à 70% */
  min-width: 180px; /* Largeur minimale pour éviter que la bulle soit trop petite */
  max-width: 75%; /* La bulle ne dépasse pas 75% de la largeur */
  padding: 12px;
  border-radius: 20px;
  position: relative;
  display: inline-block;
  font-size: 1rem;
  background-color: #f1f1f1;
  word-wrap: break-word; /* Permet de découper les mots longs */
  line-height: 1.5; /* Ajoute un peu d'espacement entre les lignes */
  word-break: break-word; /* Assure le retour à la ligne sur les mots longs */
  white-space: normal; /* Permet d'éviter les débordements horizontaux */
}

.message.sent .message-bubble {
  background-color: #dcf8c6;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.message.received .message-bubble {
  background-color: #fff;
  align-self: flex-start;
  border-bottom-left-radius: 0;
}

.timestamp {
  font-size: 0.75rem;
  color: #888;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.input-container {
  display: flex;
  margin-top: 10px;
}

.input-container input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.input-container button {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 1rem;
  border: none;
  background-color: #3CB371;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #3CB371;
}
