<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item page-previous" [class.disabled]="currentPage === 0">
            <a class="page-link" aria-label="Previous" title="Previous" (click)="changePage(currentPage - 1)">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
            <a class="page-link" (click)="changePage(page)">{{ page }}</a>
        </li>
        <li class="page-item page-next" [class.disabled]="currentPage >= totalPages - 1">
            <a class="page-link" aria-label="Next" title="Next" (click)="changePage(currentPage + 1)">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
