<div class="container">
	<h1>Recherche - {{serviceCount}} service{{getPluralSuffix()}} disponible{{getPluralSuffix()}}</h1>
	<form [formGroup]="form" (ngSubmit)="onSubmit()" class="background">
		<ng-container *ngIf="showAdressFilters">
			<app-dropdown-button
				text="Région"
				color="secondary"
				[items]="regions"
				formControlName="region"/>
			<app-dropdown-button
				text="Département"
				color="secondary"
				[items]="departments"
				formControlName="departement" />
			<app-dropdown-button
				text="Ville"
				color="secondary"
				[items]="cities"
				formControlName="ville" />
		</ng-container>
		<app-dropdown-button
			text="Catégorie"
			color="secondary"
			formControlName="category"
			[items]="categoryNames"
			[itemValues]="categoryValues" />
		<button type="submit">
			Rechercher
		</button>
	</form>
</div>
