.contact-btn {
	display: inline-block;
	background-color: #3CB371;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	margin: 10px;
  }

  .contact-btn:hover {
	background-color: #2E594F;
  }

  .contact {
		margin: 20px auto; /* Centre horizontalement et ajoute des marges */
		width: 1000px; /* Largeur par défaut pour les écrans plus grands */
		padding: 20px; /* Ajoute un espace intérieur */
		border-radius: 8px; /* Arrondi des coins */
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
	  }

    @media (max-width: 1024px) {
      .contact {

        width: 90%; /* Réduit la largeur pour les petits écrans */
        margin-inline: 5%;
        font-size: 14px; /* Réduit la taille de la police pour les petits écrans */
      }
    }

	  @media (max-width: 768px) {
		.contact {

		  width: 90%; /* Réduit la largeur pour les petits écrans */
		  font-size: 14px; /* Réduit la taille de la police pour les petits écrans */
		}
	  }

	  @media (max-width: 480px) {
		.contact {

		  width: 90%; /* Utilise toute la largeur pour les très petits écrans */
		  font-size: 12px; /* Réduit encore la taille de la police pour les très petits écrans */
		}
	  }

	  .contact-image {
		width: 750px; /* Largeur par défaut pour les grands écrans */
		object-fit: cover; /* Assure que l'image est rognée pour remplir son conteneur */
	  }

	  @media (max-width: 768px) {
		.contact-image {
		  width: 100%; /* Utilise toute la largeur disponible pour les petits écrans */
		  height: auto; /* Ajuste la hauteur automatiquement */
		}
	  }

	  @media (max-width: 480px) {
		.contact-image {
		  width: 100%; /* Utilise toute la largeur disponible pour les très petits écrans */
		  height: 200px; /* Hauteur fixe pour rogner l'image */
		  object-fit: cover; /* Assure que l'image est rognée pour remplir son conteneur */
		}
	  }
