.contact-btn {
	display: inline-block;
	background-color: #3CB371;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	margin: 10px;
  }

  .contact-btn:hover {
	background-color: #2E594F;
  }

  .contact {
		margin: 20px auto; /* Centre horizontalement et ajoute des marges */
		width: 1000px; /* Largeur par défaut pour les écrans plus grands */
		padding: 20px; /* Ajoute un espace intérieur */
		border-radius: 8px; /* Arrondi des coins */
		font-family: 'Montserrat', sans-serif;
	  }
