<div class="contact">
<h1>Restons en contact!</h1>

<p>Nous sommes ravis de pouvoir vous aider, répondre à vos questions ou simplement écouter vos suggestions.
	Votre satisfaction et vos retours sont essentiels pour nous améliorer chaque jour.
	Alors, n'hésitez pas à nous écrire, que ce soit pour une demande, une remarque ou même pour nous dire bonjour ! 😊</p>

<a href="mailto:trocandgo2025@gmail.com?subject=Support&body=Bonjour, je voudrais poser une question à propos de..."
   class="contact-btn">
  Nous Contacter
</a>
</div>
