<div class="card" (click)="onClick()">
	<div class="card-header">
	<img [src]="profilePicture" (click)="onClick()">
	<div class="text-container">
		<p class="user"> {{ user }} </p>
		<p> {{ localisation }} </p>
		<p>Posté le : {{ formattedDate }}</p>
		<span></span>
	</div>
</div>
<div class="card-body">
	<p class="search" *ngIf="search !== null">
		<strong>Je recherche:</strong> {{ search }}
	</p>
	<p class="propose" *ngIf="propose !== null">
		<strong>Je propose:</strong> {{ propose }}
	</p>
	<p class="description" *ngIf="description !== null">
		{{ description }}
	</p>
</div>
</div>

