<div class="card" (click)="onClick()">
	<div class="card-header">
	<img [src]="profilePicture" (click)="onClick()">
	<div class="text-container">
		<p class="user"> {{ user }} </p>
		<p> {{ localisation }} </p>
		<p>Posté le : {{ formattedDate }}</p>
		<span></span>
	</div>
</div>
<div class="card-body">
	<h2>{{ title }}</h2>
	<p class="categorie"><strong>Catégorie:</strong> {{ categorie }}</p>
	<p class="propose"><strong>Je propose:</strong> {{ propose }}</p>
	<p class="description" *ngIf="description !== null">
		{{ description }}
	</p>
</div>
<button type="button" [disabled]="!isLoggedIn" (click)="toggleCoordinates()">Voir les coordonnées</button>
<div *ngIf="!isLoggedIn" class="warning">
	<p>Vous devez être connecté pour voir les coordonnées</p>
</div>
<div class="coordonnees" *ngIf="isCoordinatesVisible">
	<p> {{ mail }} </p>
	<p> {{ phone_number }} </p>
</div>

</div>
