<div class="card">
	<div class="card-header">
	<img [src]= "cheminImage">
	<div class="text-container">
		<p class=" user"> {{ user }} </p>
		<p> {{ localisation }} </p>
		<p>Posté le : {{ formattedDate }}</p>
		<span></span>
	</div>
	<div class="button">
		<app-button
		text="Voir le profil"
		color="primary"
		(clicked)="onClick()">
	  </app-button>
	</div>
</div>
<div class="card-body">
	<p class="search"><strong>Je recherche:</strong> {{ search }}</p>
	<p class="propose"><strong>Je propose:</strong> {{ propose }}</p>
</div>
</div>

