.card-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 18px;
}

.card {
	padding: 1rem;
	border-radius: 50px;
	background-color: rgb(225, 221, 213);
	height: 35vh;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	flex-grow: 1;
	flex-basis: 30%;
	width: 70vh;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce */
	transition: box-shadow 0.3s ease; /* Transition douce */
}

.card:hover {
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4); /* Effet hover */
  }

img {
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	border: solid;
	border-color: #3CB371;
}

span {
	border-bottom: 0.1px solid #C0C0C0;
	width: 100%; /* Garde la largeur au max de son conteneur */
	margin: 10px 0; /* Ajoute un espacement vertical */
	display: block; /* Force le span à agir comme un élément de bloc */
  }

  .text-container {
	margin-left: 20px;
  }

button {
	margin-right: 5px;
}

.card-body {
	width: 100%
}

p {
	margin: 2px;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

.user {
	color: #3CB371;
}

.search, .propose {
	margin-top: 8px;
}
