.header {
	background-color: #2E594F;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 60px; /* Pour donner un peu d'espace autour du contenu */
  }

  .logo-links-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 40px;
  }

  img {
	height: 75px;
	width: 118px;
  }

  a {
	text-decoration: none;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	color: #F7F4E1;
  }

  .buttons-container {
	display: flex;
	justify-content: flex-end;
	gap: 40px; /* Pour espacer les boutons */
  }

  .button {
	display: flex;
	justify-content: center;
	align-items: center;
  }

  /* Conteneur principal pour les boutons */
.loggedin-container {
	display: flex; /* Active Flexbox */
	justify-content: flex-end; /* Place les éléments à droite */
	width: 100%; /* Prend toute la largeur du header */
	max-width: 100%; /* Empêche de dépasser */
	overflow-x: auto; /* Ajoute un scroll horizontal si nécessaire */
	white-space: nowrap; /* Empêche les éléments de passer à la ligne */
	overflow: hidden;
  }

  /* Boutons et liens */
  .loggedin {
	display: flex; /* Aligne les éléments horizontalement */
	gap: 15px; /* Espace entre les éléments */
	align-items: center; /* Aligne verticalement au centre */
  }

  /* Boutons adaptés */
  .loggedin a, .loggedin app-button {
	flex-shrink: 0; /* Empêche les éléments de se réduire */
  }

  /* Styles spécifiques aux petits écrans */
  @media screen and (max-width: 768px) {
	.loggedin-container {
	  gap: 10px; /* Réduit l'espace entre les éléments */
	}
  }

  .profile-picture {
	width: 60px; /* Taille de l'avatar (ajustable) */
  height: 60px;
  border-radius: 50%; /* Rond */
  object-fit: cover; /* Ajuste l'image pour remplir le conteneur sans déformation */
  border: 2px solid #fff; /* Bordure blanche fine */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre pour un effet élégant */
  transition: transform 0.3s, box-shadow 0.3s; /* Animation au survol */
}


