<div class="image-container">
<img src="banniere2.jpeg" alt="banniere">
<div class="text-overlay">Time dedicated to helping people, together</div>
</div>

<h2>Annonces à la une</h2>

<div class = cards-container>

	<app-service-card
	   user= "Jean Charles"
	   localisation="Clichy sous bois"
	   [date]= "date"
	   search="Quelqu'un pour faire le ménage chez moi tous les jours"
	   propose="Je peux aider vos enfants à faire leurs devoirs"
	   (clicked)="handleClick()">
	</app-service-card>

	<app-service-card
	  cheminImage="./avatar3.png"
	   user= "Haricover"
	   localisation="Gonesse"
	   [date]= "date"
	   search="Un esclave"
	   propose="Rien"
	   (clicked)="handleClick()">
	</app-service-card>

	<app-service-card
	  cheminImage="./avatar2.png"
	   user= "Geraldine"
	   localisation="Gonesse"
	   [date]= "date"
	   search="Je ne sais pas Je ne sais pas Je ne sais pas Je ne sais pas"
	   propose="Je ne sais pas Je ne sais pas Je ne sais pas "
	   (clicked)="handleClick()">
	</app-service-card>
</div>
