<div class="profile">
	<h1>{{ username }}</h1>

	<!-- Picture -->
	<form (submit)="onSubmitImg(); $event.preventDefault();">
		<div class="container">
			<!-- Affichage de l'image (prévisualisation ou par défaut) -->
			<img
				[src]="imagePreview || avatarUrl || 'icone.jpg'"
				alt="Photo de profil"
				class="profile-picture"
			/>

			<!-- Upload personnalisé -->
			<div class="custom-file-upload">
				<button type="button" (click)="fileInput.click()">Choisissez votre photo de profil</button>
				<input
					#fileInput
					type="file"
					(change)="onFileSelected($event)"
					accept="image/*"
					style="display: none;"
				/>
				<!-- Affichage du nom du fichier sélectionné -->
				<!-- <span *ngIf="selectedFileName">{{ selectedFileName }}</span> -->
			</div>

			<!-- Bouton de validation -->
			<app-button
				*ngIf="selectedFile && !isPhotoValidated"
				text="Valider la photo de profil"
				color="primary"
				type="submit"
				class="upload-button"
			></app-button>
		</div>
	</form>


	<form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
		<!-- Adresse complète -->
		<label for="fullAddress">Adresse complète :</label>
		<input
			type="text"
			id="fullAddress"
			name="fullAddress"
			[(ngModel)]="fullAddress"
			placeholder="Entrez une adresse complète"
			#fullAddressModel="ngModel"
			required
		/>
		<button type="button" (click)="validateAddress()" [disabled]="!fullAddress">Valider l'adresse</button>

		<!-- Adresse -->
		<label for="address">Adresse :</label>
		<input
			type="text"
			id="address"
			name="address"
			[(ngModel)]="address"
			placeholder="Adresse détectée"
			readonly
		/>

		<!-- Ville -->
		<label for="city">Ville :</label>
		<input
			type="text"
			id="city"
			name="city"
			[(ngModel)]="city"
			placeholder="Ville détectée"
			readonly
		/>

		<!-- Code postal -->
		<label for="zipCode">Code postal :</label>
		<input
			type="text"
			id="zipCode"
			name="zipCode"
			[(ngModel)]="zipCode"
			placeholder="Code postal détecté"
			readonly
		/>

		<!-- Numéro de téléphone -->
		<label for="phoneNumber">Numéro de téléphone :</label>
		<input
			type="text"
			id="phoneNumber"
			name="phoneNumber"
			[(ngModel)]="phoneNumber"
			placeholder="Entrez votre numéro de téléphone"
			#phoneNumberModel="ngModel"
			required
			[pattern]="phonePattern"
		/>
		<div *ngIf="phoneNumberModel.invalid && phoneNumberModel.touched" class="error-message">
			<small *ngIf="phoneNumberModel.errors?.['required']">Le numéro de téléphone est obligatoire.</small>
			<small *ngIf="phoneNumberModel.errors?.['pattern']">Format de numéro de téléphone invalide.</small>
		</div>

		<!-- Valider profil -->
		<button
			type="submit"
			[disabled]="signupForm.invalid || isSubmitting"
		>
			Valider profil
		</button>
	</form>
</div>
