<div class="about">
    <h2 class="title">À propos de Troc&Go</h2>
    <p>
        Bienvenue sur Troc&Go, la plateforme d'échange de services entre particuliers, 100 % gratuite et sans monnaie !
    </p>
    <p>
        Notre mission est simple : vous permettre d'échanger vos compétences, savoir-faire et services avec d'autres
        utilisateurs. Ici, pas besoin d'argent, ni réel ni virtuel. Vous proposez ce que vous savez faire – que ce soit du
        bricolage, du jardinage, de la garde d'animaux, ou autre – et vous trouvez des personnes prêtes à partager leurs
        talents en retour.
    </p>
    <p>
        Troc&Go valorise le partage, la solidarité et l'entraide. Que vous cherchiez à donner un coup de main ou à recevoir
        de l’aide, vous êtes au bon endroit pour créer des connexions utiles et enrichissantes.
    </p>
    <p>
        Rejoignez la communauté et découvrez un nouveau mode d’échange, basé sur la confiance et le respect mutuel.
        Ensemble, faisons du troc une expérience simple, humaine et conviviale !
    </p>
    <img src="banniere3.jpeg" />
    <h2 class="title">L’équipe derrière Troc&Go</h2>
    <p>
        Troc&Go est le fruit du travail passionné de trois développeurs en formation à Holberton School Laval. Forts d’une solide base en développement logiciel et d’une vision commune de l’entraide, nous avons créé cette plateforme pour faciliter les échanges de services entre particuliers.
    </p>
    <p>
        Notre objectif est de combiner nos compétences techniques et notre créativité pour proposer une expérience utilisateur intuitive, fluide et sécurisée. Nous croyons que la technologie peut être un moteur puissant de solidarité et de partage.
    </p>
    <p>
        Envie d’en savoir plus sur notre parcours ou nos projets ? Découvrez nos profils et suivez nos aventures de développement:
    </p>
    <ul class="team">
        <li class="team-member">
            <span>Alexandre Gaubert : </span>
            <a href="https://github.com/Judgy53">https://github.com/Judgy53</a>
        </li>
        <li class="team-member">
            <span>Marc Pourias : </span>
            <a href="https://github.com/MarcP70">https://github.com/MarcP70</a>
        </li>
        <li class="team-member">
            <span>Nathalie Metreau : </span>
            <a href="https://github.com/NathalieMet">https://github.com/NathalieMet</a>
        </li>
    </ul>
</div>
